<p id="notice"><%= notice %></p>

<p>
  <strong>Numberofemployees:</strong>
  <%= @company.numberOfEmployees %>
</p>

<p>
  <strong>Number:</strong>
  <%= @company.number %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @company.cnpj %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @company.adress %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @company.zipCode %>
</p>

<p>
  <strong>Card:</strong>
  <%= @company.card %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
